<% include header %>

  <div class="container pt-3 pt-md-4">
    <% if (error && error[0]) { %>
      <div class="alert alert-danger" role="alert"><%- error %></div>
    <% } %>
    <% if (info && info[0]) { %>
      <div class="alert alert-info" role="alert"><%- info %></div>
    <% } %>
    <% if (success && success[0]) { %>
      <div class="alert alert-success" role="alert"><%- success %></div>
    <% } %>
  </div>

  <div class="container">

  <!-- div.container closed in footer -->