<% include partials/wrapper_head_default %>

<div class="row">
  <div class="col col-md-6 text-light">
    <h1>About CampFinder</h1>

    <p>The CampFinder app was built based off of Colt Steele's Udemy course, <a href="https://www.udemy.com/the-advanced-web-developer-bootcamp/">The Advanced Web Developer Bootcamp</a>.</p>
    <p>This application, although fully functional, was only built to showcase the knowledge gained from building this app. Any users added, campgrounds submitted, etc, may be deleted or edited at anytime.</p>
    <h2>Learn More</h2>
    <p>To learn more about this application and how it was built, please visit the GitHub repository, <a href="https://github.com/joshmakar/yelp-camp">https://github.com/joshmakar/yelp-camp</a></p>
  </div>
</div>


<% include partials/footer %>