<% include ../partials/wrapper_head_default %>

<div class="row m-3">
  <div class="col-12 col-md-4 pl-0 mb-3 text-light">
    <h1><%= user.username %>'s Profile</h1>
  </div>



<% if (campgrounds.length > 0) { %>
  <div class="col-12 col-md-8 bg-light p-3">
    <h2 class="h4">Campground Submissions</h2>
    <ul class="list-group list-group-flush">
    <% campgrounds.forEach(campground => { %>
      <li class="list-group-item bg-light">
        <a href="/campgrounds/<%= campground._id %>"><%= campground.name %></a>
      </li>
    <% });%>
  </div>
<% } %>

</div>

<% include ../partials/footer %>