// Overwrite Bootstrap Variables
@import 'variables';

// Add Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';


body {
  background: #360033;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

#landing-header {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#landing-header h1 {
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.71);
}

$slideshow-timing: 5000ms;
$slideshow-slide-count: 5;

.slideshow {
  height: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.slideshow li {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  animation: imageAnimation $slideshow-timing * $slideshow-slide-count linear infinite;
}

.slideshow li:nth-child(1) { 
  background-image: url('../media/images/K3mPv14.jpg');
}
.slideshow li:nth-child(2) { 
  background-image: url('../media/images/SBEmFpv.jpg');
  animation-delay: $slideshow-timing; 
}
.slideshow li:nth-child(3) { 
  background-image: url('../media/images/emvhOnb.jpg');
  animation-delay: $slideshow-timing * 2; 
}
.slideshow li:nth-child(4) { 
  background-image: url('../media/images/2LSMCmJ.jpg');
  animation-delay: $slideshow-timing * 3; 
}
.slideshow li:nth-child(5) { 
  background-image: url('../media/images/TVGe0Ef.jpg');
  animation-delay: $slideshow-timing * 4; 
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  5% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support: .no-cssanimations was added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}